<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-brand brandtext">SF Food Truck Me</div>
	</div>
</div>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div class="content">
	<div id="map"></div>
	<div id="filters"></div>
</div>