<div class="header">
	<h1>SF Food Truck Me!</h1>
	<h4>Hello. This is an app for you to find food trucks in the area.</h4>
	<h5>Try searching for an address.</h5>
</div>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>
<div id="filters"></div>