<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-brand brandtext">SF Food Truck Me <span class="glyphicon glyphicon glyphicon-cutlery" aria-hidden="true"></span></div>
	</div>
</div>

<div class="content">
	<input id="pac-input" class="controls" type="text" placeholder="Search Box">
	<div id="map"></div>
	<div class="jumbotron">
		<div class="container">
			<h1>Hungry?</h1>
		  <p>Start by searching for a location or click to see all food trucks in San Francisco.</p>
		  <div id="filters"></div>	
		</div>	
	</div>
</div>

<div class="container">
	<footer class="footer">
		<span>
			<p class="navbar-text">
				Jessica J. Kim 
			</p>
			<p class="navbar-text">
				<a href="https://github.com/adoseofjess/FoodTruckMe">Source Code</a>
			</p>
			<p class="navbar-text">
				<a href="https://www.linkedin.com/in/jessicajk">LinkedIn</a>
			</p>
			<p class="navbar-text">
				<a href="mailto:jessjkim@gmail.com">Contact Me</a>
			</p>
		</span>
	</footer>
</div>