<div id="filters">
	<button id="addAllMarkers" type="button" class="btn btn-success">View All Food Trucks</button>
	<button id="clearAllMarkers" type="button" class="btn btn-success">Clear All</button>
</div>

