<!DOCTYPE html>
<html>
<head>
  <title>FoodTruckMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 80%;
      }
    </style>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClnyBfgDLNcngeLRQdgBwd8j0i0czvA7M&libraries=places"></script>
</head>
<body>

<%= yield %>

</body>
</html>
